# Config file for automatic testing at travis-ci.org

branches:
 only:
  - master

language: python

matrix:
  include:

#    - os: osx
#      language: generic
#      env:
#        - PYTHON_VERSION=3.5.2

#    - os: osx
#      language: generic
#      env:
#        - PYTHON_VERSION=3.4.5

#    - os: osx
#      language: generic
#      env:
#        - PYTHON_VERSION=3.3.6

    - os: osx
      language: generic
      env:
        - PYTHON_VERSION=2.7.12

cache:
  directories:
    - $HOME/.pyenv/versions/3.5.2
    - $HOME/.pyenv/versions/3.4.5
    - $HOME/.pyenv/versions/3.3.6
    - $HOME/.pyenv/versions/2.7.12
    - $HOME/downloads

before_install:
  - pip install scikit-ci==0.13.0 scikit-ci-addons==0.11.0
  - ci_addons --install ../addons

install:
  - ci install

script:
  - ci test

after_success:
  - ci after_test
