include CONTRIBUTING.rst
include LICENSE.txt
include README.md
include requirements.txt
include requirements-dev.txt
include requirements-setup.txt
include versioneer.py

recursive-include radiomics *

recursive-include data/baseline *
recursive-include data *_image.nrrd
recursive-include data *_label.nrrd
include data/README.md

recursive-include examples/exampleSettings *.yaml
recursive-include examples batch*.py
recursive-include examples hello*.py
include examples/testCases.csv

recursive-include tests *

recursive-include bin *.py

recursive-exclude * __pycache__
recursive-exclude * *.py[cod]
recursive-exclude * nosetests.xml
