include CONTRIBUTING.md
include LICENSE.txt
include README.md
include requirements.txt
include requirements-dev.txt
include requirements-setup.txt
include versioneer.py

recursive-include radiomics *

recursive-include data *
exclude data/PyradiomicsFeatures.csv data/Baseline2PyradiomicsFeaturesDiff.csv

recursive-include tests *

recursive-exclude * __pycache__
recursive-exclude * *.py[cod]
