# To test:
# docker pull circleci/picard
# docker run -it --rm -v /var/run/docker.sock:/var/run/docker.sock -v $(pwd):$(pwd) -v ~/.circleci/:/root/.circleci --workdir $(pwd) circleci/picard circleci build

version: 2
jobs:
  build:
    working_directory: /pyradiomics
    docker:
      - image: jupyter/datascience-notebook
        user: root
    steps:
      - run:
          # CircleCI says we need SSH and the docker doesn't have it installed
          name: Update
          command: |
            apt-get update
            apt-get install -y openssh-client openssh-server
      - run:
          name: Avoid hosts unknown for github
          command: echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > /etc/ssh/ssh_config
      - checkout
      - run:
          # Jupyter datascience notebook does not support python 2 anymore, install it manually.
          # See also https://github.com/jupyter/docker-stacks/issues/432
          # Next, install python 2 kernel globally, so it can be found from the root
          name: Install Python 2 Kernel
          command: |
            conda create -n python2 python=2 ipykernel
            pip install kernda --no-cache
            $CONDA_DIR/envs/python2/bin/python -m ipykernel install
            kernda -o -y /usr/local/share/jupyter/kernels/python2/kernel.json
            pip uninstall kernda -y
      - run:
          name: Install pyradiomics in Python 2 and 3
          command: |
            source activate python2
            python -m pip install --no-cache-dir -r requirements.txt
            python -m pip install --no-cache-dir -r requirements-dev.txt
            python setup.py install
            source activate root
            python -m pip install --no-cache-dir -r requirements.txt
            python -m pip install --no-cache-dir -r requirements-dev.txt
            python setup.py install
      - run:
          name: Run tests in Python 2
          command: |
            source activate python2
            nosetests
      - run:
          name: Run tests in Python 3
          command: |
            source activate root
            nosetests
      - run:
          name: test notebooks in python 2 and 3
          command: |
            jupyter nbconvert --ExecutePreprocessor.kernel_name=python2 --ExecutePreprocessor.timeout=-1 --to notebook --output-dir /tmp --execute notebooks/helloRadiomics.ipynb notebooks/helloFeatureClass.ipynb notebooks/PyRadiomicsExample.ipynb

            jupyter nbconvert --ExecutePreprocessor.kernel_name=python3 --ExecutePreprocessor.timeout=-1 --to notebook --output-dir /tmp --execute  notebooks/helloRadiomics.ipynb notebooks/helloFeatureClass.ipynb notebooks/PyRadiomicsExample.ipynb
  deploy:
    working_directory: /pyradiomics
    docker:
      - image: jupyter/datascience-notebook
        user: root
    steps:
      - run:
          # CircleCI says we need SSH and the docker doesn't have it installed
          name: Update
          command: |
            apt-get update
            apt-get install -y openssh-client openssh-server
      - run:
          name: Avoid hosts unknown for github
          command: echo -e "Host github.com\n\tStrictHostKeyChecking no\n" > /etc/ssh/ssh_config
      - checkout
      - run:
          # Jupyter datascience notebook does not support python 2 anymore, install it manually.
          # See also https://github.com/jupyter/docker-stacks/issues/432
          # Next, install python 2 kernel globally, so it can be found from the root
          name: Install Python 2 Kernel
          command: |
            conda create -n python2 python=2 ipykernel
            pip install kernda --no-cache
            $CONDA_DIR/envs/python2/bin/python -m ipykernel install
            kernda -o -y /usr/local/share/jupyter/kernels/python2/kernel.json
            pip uninstall kernda -y
      - run:
          name: Install pyradiomics in Python 2 and 3
          command: |
            source activate python2
            python -m pip install --no-cache-dir -r requirements.txt
            python -m pip install --no-cache-dir -r requirements-dev.txt
            python setup.py install
            source activate root
            python -m pip install --no-cache-dir -r requirements.txt
            python -m pip install --no-cache-dir -r requirements-dev.txt
            python setup.py install
      - run:
          name: appget patchelf, install twine, auditwheel
          command: |
            apt-get install patchelf
            python -m pip install auditwheel
            python -m pip install twine
      - run:
          name: creat source and wheel distribution
          command: |
            source activate python2
            python setup.py bdist_wheel
            source activate root
            python setup.py sdist bdist_wheel
            # Since there are no external shared libraries to bundle into the wheels
            # this step will fixup the wheel switching from 'linux' to 'manylinux1' tag
            for whl in dist/*$(uname -p).whl; do
              auditwheel repair $whl -w ./dist/
              rm $whl
            done
      - run:
          name: deploy source and linux wheels
          command: twine upload --repository-url https://test.pypi.org/legacy/ ./dist/*.whl ./dist/*.tar.gz -u $PYPI_USER -p $PYPI_PASSWORD

workflows:
  version: 2
  build_and_deploy:
    jobs:
      - build:
          filters:
            tags:
              only:
                - /^v?[0-9]+(\.[0-9]+)*(-rc[0-9]+)?/
      - deploy:
          requires:
            - build
          filters:
            branches:
              ignore:
                - /.*/
            tags:
              only:
                - /^v?[0-9]+(\.[0-9]+)*(-rc[0-9]+)?/
